<div ws-children-template="ApplyNow">
    <h3>Apply now</h3>
    <div ws-replace="JobName"></div>
    <div ws-replace="UserEmail"></div>
    <button ws-onclick="ApplyNowClick">Apply now</button>
    <h3>Employer</h3>
    <div ws-replace="Company"></div>
    <div ws-replace="Gender"></div>
    <div ws-replace="Degree"></div>
    <div ws-replace="FirstName"></div>
    <div ws-replace="LastName"></div>
    <div ws-replace="Street"></div>
    <div ws-replace="Postcode"></div>
    <div ws-replace="City"></div>
    <div ws-replace="Email"></div>
    <div ws-replace="Phone"></div>
    <div ws-replace="MobilePhone"></div>
    <button ws-onclick="ApplyNowClick">Apply now</button>
</div>