<div ws-children-template="DocumentsAndFiles">
    <h3>Your application documents</h3>
    <div ws-replace="SelectDocument"></div>
    <div ws-hole="DocumentPages">
        <div ws-template="DocumentFile">
            <button ws-onclick="Click" ws-attr="IsActive">${Name}</button>
            <button ws-onclick="Delete">delete</button>
            <button ws-onclick="MoveUp">MoveUp</button>
            <button ws-onclick="MoveDown" ws-attr="MoveDownVisible">MoveDown</button>
        </div>
    </div>
    <form id="formId" method="post" action="/Upload">
        <input type="file" name="file" id="file" ws-onchange="UploadFile"/>
    </form>
</div>