<div ws-template="InputField" class="form-group bottom-distanced">
    <label style="font-weight: bold" for="${Id}">${LabelText}</label>
    <input ws-var="Var" id="${Id}" name="${Id}" class="form-control" />
   <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
</div>

<div ws-template="TextareaField" class="form-group bottom-distanced">
    <label style="font-weight: bold" for="${Id}">${LabelText}</label>
    <textarea style="min-height: ${MinHeight}" ws-var="Var" id="${Id}" name="${Id}" class="form-control"></textarea>
   <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
</div>


